footer {
    padding: 10px 10px 10px 10px;
    margin-bottom: 0px;
    margin-top: 10px;
    color: aliceblue;
    }
.card-pieza{
    flex:1 200px;
    margin-top: 10px;
    padding: 2px 0px 2px 0px;
}
.btn-compra{
    width: 100%;
}
.jumbotron{
    margin-top: 50px;
    margin-bottom: 30px;
}