$yellow:#eeeadf;
$red:#de1f1f;
$green:#d1f0d3;

@mixin margenes($top,$botton) {
    margin-bottom: $botton;
    margin-top: $top;  
}

@mixin pade($top,$right,$down,$left) {
    padding: $top $right $down $left;
}

footer {
    padding: 10px 10px 10px 10px;
    @include margenes(20px,0px);
    color: aliceblue;
    background-color: $yellow;
    }
.card-pieza{
    flex:1 200px;
    @include margenes(10px,0px);
    @include pade(2px,0px ,2px ,0px);
    background-color:$green;
}
.btn-compra{
    width: 100%;
}
.jumbotron{
    @include margenes(50px,30px);
    background-color: $yellow;
}
.card-body{
    background-color: $green;
    border: 1px solid $red; 
    @include margenes(0px,10px);
    
}