footer {
  padding: 10px 10px 10px 10px;
  margin-bottom: 0px;
  margin-top: 20px;
  color: aliceblue;
  background-color: #eeeadf;
}

.card-pieza {
  flex: 1 200px;
  margin-bottom: 0px;
  margin-top: 10px;
  padding: 2px 0px 2px 0px;
  background-color: #d1f0d3;
}

.btn-compra {
  width: 100%;
}

.jumbotron {
  margin-bottom: 30px;
  margin-top: 50px;
  background-color: #eeeadf;
}

.card-body {
  background-color: #d1f0d3;
  border: 1px solid #de1f1f;
  margin-bottom: 10px;
  margin-top: 0px;
}